.wifi-svgrepo-com-1-155 {
  width: 20px;
  position: relative;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.map-ic-icon55 {
  width: 19px;
  position: relative;
  height: 19px;
  object-fit: cover;
}
.wifi-map-pin-ic55 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 41px;
}
.battery-ic-1128 {
  width: 30px;
  position: relative;
  height: 16px;
  object-fit: cover;
}
.battery-percentage-ic55,
.battery-status-bar128 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.battery-percentage-ic55 {
  justify-content: flex-end;
  gap: var(--gap-8xs);
}
.battery-status-bar128 {
  flex: 1;
  justify-content: space-between;
  max-width: 768px;
}
.battery-bar128,
.line128 {
  align-self: stretch;
  overflow: hidden;
}
.battery-bar128 {
  background-color: var(--color-black);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-11xs) var(--padding-mini);
  z-index: 0;
  text-align: left;
}
.line128 {
  background-color: var(--color-white);
  height: 0.5px;
  flex-shrink: 0;
  z-index: 1;
}
.home-ic126,
.left-arrow-previous-page-ic108 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 24px;
  position: relative;
  height: 24px;
  background-image: url(./public/image4@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.left-arrow-previous-page-ic108 {
  background-image: url(./public/image5@2x.png);
}
.home-ic-parent88 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
  max-width: 56px;
}
.edit-user11 {
  flex: 1;
  position: relative;
  font-weight: 600;
}
.settings-svgrepo-com-1-icon107 {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.home-title-bar213 {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-41xl) 0 0;
  box-sizing: border-box;
  max-width: 768px;
}
.home-title-bar212 {
  align-self: stretch;
  background-color: var(--color-black);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-sm) var(--padding-mini);
  z-index: 2;
  font-size: var(--font-size-lg);
}
.add-user11 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-sm);
  font-family: var(--font-work-sans);
  color: var(--color-white);
  text-align: center;
}
.support-button60,
.user-manual-button36 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-11xs) var(--padding-3xs);
  background-color: var(--color-orange);
  flex: 1;
  border-radius: var(--br-9xs);
  height: 54px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.support-button60:focus .add-user11,
.support-button61:focus .add-user11,
.user-manual-button36:focus .add-user11 {
  color: var(--color-gray-300);
}
.help-menu-buttons60 {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-lg);
  max-width: 412px;
}
.support-button61 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-11xs) var(--padding-3xs);
  background-color: var(--color-orange);
  flex: 1;
  border-radius: var(--br-9xs);
  height: 54px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  max-width: 151px;
}
.help-menu-buttons-parent18,
.help-menu-buttons61 {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 151px;
}
.help-menu-buttons-parent18 {
  flex-direction: column;
  gap: var(--gap-lg);
  max-width: 320px;
}
.div404 {
  width: 414px;
  position: relative;
  display: inline-block;
}
.body-screen117 {
  align-self: stretch;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-11xl) var(--padding-mini) var(--padding-61xl);
  gap: var(--gap-302xl);
  z-index: 3;
  color: var(--color-black);
}
.admin-1-delete-confirmation-po-child {
  width: 100%;
  position: absolute;
  margin: 0 !important;
  height: 100.08%;
  top: 0;
  right: 0;
  bottom: -0.08%;
  left: 0;
  background-color: var(--color-gray-800);
  backdrop-filter: blur(15px);
  z-index: 4;
}
.confirm-delete-admin,
.frame-child130 {
  position: relative;
}
.frame-child130 {
  align-self: stretch;
  border-top: 1.5px dashed var(--color-white);
  box-sizing: border-box;
  height: 1.5px;
}
.admin-1-wrapper,
.frame-wrapper88 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.admin-1-wrapper {
  flex: 1;
}
.frame-wrapper88 {
  align-self: stretch;
}
.frame-wrapper87 {
  flex: 1;
  flex-direction: column;
}
.confirm-delete-admin-parent,
.frame-wrapper86,
.frame-wrapper87 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-wrapper86 {
  align-self: stretch;
  flex-direction: row;
  font-size: var(--font-size-sm);
}
.confirm-delete-admin-parent {
  position: absolute;
  top: calc(50% - 42px);
  left: calc(50% - 141px);
  width: 281px;
  height: 73px;
  flex-direction: column;
  gap: var(--gap-mid);
}
.loading-file-please-wait-do-no10 {
  width: 320px;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 189.75px);
  left: calc(50% - 160px);
  border-radius: var(--br-xs);
  background-color: var(--color-orange);
  height: 274px;
  overflow: hidden;
  flex-shrink: 0;
  max-width: 90%;
  max-height: 90%;
  z-index: 5;
  font-size: var(--font-size-xl);
}
.no6 {
  position: relative;
  font-size: var(--font-size-sm);
  font-weight: 500;
  font-family: var(--font-work-sans);
  color: var(--color-black);
  text-align: left;
}
.next-button77 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base) var(--padding-11xl);
  background-color: var(--color-navajowhite);
  margin: 0 !important;
  position: absolute;
  top: calc(50% + 160.25px);
  left: calc(50% - 161px);
  border-radius: var(--br-9xs);
  overflow: hidden;
  flex-direction: row;
  z-index: 6;
}
.admin-1-delete-confirmation-po,
.next-button77,
.next-button78 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.next-button78 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base) var(--padding-11xl);
  background-color: var(--color-navajowhite);
  margin: 0 !important;
  position: absolute;
  top: calc(50% + 160.25px);
  left: calc(50% + 75px);
  border-radius: var(--br-9xs);
  overflow: hidden;
  flex-direction: row;
  z-index: 7;
}
.admin-1-delete-confirmation-po {
  width: 100%;
  position: relative;
  flex-direction: column;
  text-align: center;
  font-size: var(--font-size-xs);
  color: var(--color-white);
  font-family: var(--font-work-sans);
}
