.wifi-svgrepo-com-1-157 {
  width: 20px;
  position: relative;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.map-ic-icon57 {
  width: 19px;
  position: relative;
  height: 19px;
  object-fit: cover;
}
.wifi-map-pin-ic57 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 41px;
}
.battery-ic-1130 {
  width: 30px;
  position: relative;
  height: 16px;
  object-fit: cover;
}
.battery-percentage-ic57,
.battery-status-bar130 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.battery-percentage-ic57 {
  justify-content: flex-end;
  gap: var(--gap-8xs);
}
.battery-status-bar130 {
  flex: 1;
  justify-content: space-between;
  max-width: 768px;
}
.battery-bar130,
.line130 {
  align-self: stretch;
  overflow: hidden;
}
.battery-bar130 {
  background-color: var(--color-black);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-11xs) var(--padding-mini);
  z-index: 0;
  text-align: left;
}
.line130 {
  background-color: var(--color-white);
  height: 0.5px;
  flex-shrink: 0;
  z-index: 1;
}
.home-ic128,
.left-arrow-previous-page-ic110 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 24px;
  position: relative;
  height: 24px;
  background-image: url(./public/image4@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.left-arrow-previous-page-ic110 {
  background-image: url(./public/image5@2x.png);
}
.home-ic-parent90 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
  max-width: 56px;
}
.edit-user13 {
  flex: 1;
  position: relative;
  font-weight: 600;
}
.settings-svgrepo-com-1-icon109 {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.home-title-bar217 {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-41xl) 0 0;
  box-sizing: border-box;
  max-width: 768px;
}
.home-title-bar216 {
  align-self: stretch;
  background-color: var(--color-black);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-sm) var(--padding-mini);
  z-index: 2;
  font-size: var(--font-size-lg);
}
.add-user13 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-sm);
  font-family: var(--font-work-sans);
  color: var(--color-white);
  text-align: center;
}
.support-button64,
.user-manual-button38 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-11xs) var(--padding-3xs);
  background-color: var(--color-orange);
  flex: 1;
  border-radius: var(--br-9xs);
  height: 54px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.support-button64:focus .add-user13,
.support-button65:focus .add-user13,
.user-manual-button38:focus .add-user13 {
  color: var(--color-gray-300);
}
.help-menu-buttons64 {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-lg);
  max-width: 412px;
}
.support-button65 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-11xs) var(--padding-3xs);
  background-color: var(--color-orange);
  flex: 1;
  border-radius: var(--br-9xs);
  height: 54px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  max-width: 151px;
}
.help-menu-buttons-parent20,
.help-menu-buttons65 {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 151px;
}
.help-menu-buttons-parent20 {
  flex-direction: column;
  gap: var(--gap-lg);
  max-width: 320px;
}
.div408 {
  width: 414px;
  position: relative;
  display: inline-block;
}
.body-screen119 {
  align-self: stretch;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-11xl) var(--padding-mini) var(--padding-61xl);
  gap: var(--gap-302xl);
  z-index: 3;
  color: var(--color-black);
}
.admin-1-deleted-popup-child {
  width: 100%;
  position: absolute;
  margin: 0 !important;
  height: 100.08%;
  top: 0;
  right: 0;
  bottom: -0.08%;
  left: 0;
  background-color: var(--color-gray-800);
  backdrop-filter: blur(15px);
  z-index: 4;
}
.admin-deleted,
.frame-child132 {
  position: relative;
}
.frame-child132 {
  align-self: stretch;
  border-top: 1.5px dashed var(--color-white);
  box-sizing: border-box;
  height: 1.5px;
}
.admin-1-container,
.frame-wrapper94 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.admin-1-container {
  flex: 1;
}
.frame-wrapper94 {
  align-self: stretch;
}
.frame-wrapper93 {
  flex: 1;
  flex-direction: column;
}
.admin-deleted-parent,
.frame-wrapper92,
.frame-wrapper93 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-wrapper92 {
  align-self: stretch;
  flex-direction: row;
  font-size: var(--font-size-sm);
}
.admin-deleted-parent {
  position: absolute;
  top: calc(50% - 42px);
  left: calc(50% - 141px);
  width: 281px;
  height: 73px;
  flex-direction: column;
  gap: var(--gap-mid);
}
.loading-file-please-wait-do-no12 {
  width: 320px;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 189.75px);
  left: calc(50% - 160px);
  border-radius: var(--br-xs);
  background-color: var(--color-orange);
  height: 274px;
  overflow: hidden;
  flex-shrink: 0;
  max-width: 90%;
  max-height: 90%;
  z-index: 5;
  font-size: var(--font-size-xl);
}
.continue11 {
  position: relative;
  font-size: var(--font-size-sm);
  font-weight: 500;
  font-family: var(--font-work-sans);
  color: var(--color-black);
  text-align: left;
}
.admin-1-deleted-popup,
.next-button81 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.next-button81 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base) var(--padding-11xl);
  background-color: var(--color-navajowhite);
  margin: 0 !important;
  position: absolute;
  top: calc(50% + 160.25px);
  left: calc(50% - 67px);
  border-radius: var(--br-9xs);
  overflow: hidden;
  flex-direction: row;
  z-index: 6;
}
.admin-1-deleted-popup {
  width: 100%;
  position: relative;
  flex-direction: column;
  text-align: center;
  font-size: var(--font-size-xs);
  color: var(--color-white);
  font-family: var(--font-work-sans);
}
