.image-16-icon {
  position: absolute;
  top: -1px;
  left: 0;
  width: 356px;
  height: 503.8px;
  object-fit: cover;
}
.current-report {
  width: 356px;
  position: relative;
  background-color: var(--color-white);
  height: 503px;
  overflow: hidden;
  max-width: 90%;
  max-height: 90%;
}
