.battery-ic-134,
.div100 {
  position: relative;
}
.battery-ic-134 {
  width: 30px;
  height: 16px;
  object-fit: cover;
}
.battery-bar34,
.battery-status-bar34 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.battery-status-bar34 {
  flex: 1;
  justify-content: flex-end;
  gap: var(--gap-8xs);
  max-width: 768px;
}
.battery-bar34 {
  align-self: stretch;
  background-color: var(--color-black);
  overflow: hidden;
  justify-content: center;
  padding: var(--padding-11xs) var(--padding-mini);
}
.line34 {
  background-color: var(--color-white);
  height: 0.5px;
  overflow: hidden;
  flex-shrink: 0;
}
.home-ic34,
.left-arrow-previous-page-ic34 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 24px;
  position: relative;
  height: 24px;
  background-image: url(./public/image4@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.left-arrow-previous-page-ic34 {
  background-image: url(./public/image5@2x.png);
}
.home-ic-parent29 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
  max-width: 56px;
}
.delete-test-data4 {
  flex: 1;
  position: relative;
  font-weight: 600;
}
.settings-svgrepo-com-1-icon34 {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.home-title-bar65 {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
  max-width: 768px;
}
.home-title-bar64 {
  align-self: stretch;
  background-color: var(--color-black);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-sm) var(--padding-mini);
  text-align: center;
  font-size: var(--font-size-base);
}
.select-test-data3 {
  align-self: stretch;
  position: relative;
}
.admin-01-ns-delete9 {
  width: 16px;
  position: relative;
  border-radius: 50%;
  border: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  height: 16px;
  cursor: pointer;
}
.admin-01-ns-delete-wrapper2,
.admin-01-ns-delete8 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.admin-01-ns-delete8 {
  flex-direction: row;
  gap: var(--gap-2xs);
  cursor: pointer;
}
.admin-01-ns-delete-wrapper2 {
  flex-direction: column;
}
.covid-19-test-data-ns5 {
  width: 16px;
  position: relative;
  border-radius: 50%;
  border: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  height: 16px;
  cursor: pointer;
}
.covid-19-test-data3 {
  flex: 1;
  position: relative;
}
.covid-19-test-data-ns4 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-2xs);
}
.admin-02-ns-delete9 {
  width: 16px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-orange);
  height: 16px;
  cursor: pointer;
}
.frame-parent92,
.select-test-data-to-delete-parent1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent92 {
  overflow: hidden;
  gap: var(--gap-xl);
}
.select-test-data-to-delete-parent1 {
  gap: var(--gap-10xl);
}
.next8 {
  position: relative;
  font-size: var(--font-size-sm);
  font-weight: 500;
  font-family: var(--font-work-sans);
  color: var(--color-black);
  text-align: left;
}
.next-button21 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base) var(--padding-47xl);
  background-color: var(--color-navajowhite);
  border-radius: var(--br-9xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.user-credential-input-fields14 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0 var(--padding-12xs);
  box-sizing: border-box;
  gap: var(--gap-41xl);
  max-width: 316px;
}
.div101 {
  width: 414px;
  position: relative;
  font-size: var(--font-size-xs);
  text-align: center;
  display: inline-block;
}
.body-screen33,
.delete-test-data-3-test-id {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.body-screen33 {
  align-self: stretch;
  background-color: var(--color-white);
  overflow: hidden;
  align-items: center;
  padding: var(--padding-11xl) var(--padding-mini) var(--padding-61xl);
  gap: var(--gap-11xl);
  font-size: var(--font-size-sm);
  color: var(--color-black);
}
.delete-test-data-3-test-id {
  width: 100%;
  position: relative;
  align-items: flex-start;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-white);
  font-family: var(--font-work-sans);
}
