.wifi-svgrepo-com-1-130 {
  width: 20px;
  position: relative;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.map-ic-icon30 {
  width: 19px;
  position: relative;
  height: 19px;
  object-fit: cover;
}
.wifi-map-pin-ic30 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 41px;
}
.battery-ic-182,
.div240 {
  position: relative;
}
.battery-ic-182 {
  width: 30px;
  height: 16px;
  object-fit: cover;
}
.battery-percentage-ic30,
.battery-status-bar82 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.battery-percentage-ic30 {
  justify-content: flex-end;
  gap: var(--gap-8xs);
}
.battery-status-bar82 {
  flex: 1;
  justify-content: space-between;
  max-width: 768px;
}
.battery-bar82,
.line82 {
  align-self: stretch;
  overflow: hidden;
}
.battery-bar82 {
  background-color: var(--color-black);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-11xs) var(--padding-mini);
}
.line82 {
  background-color: var(--color-white);
  height: 0.5px;
  flex-shrink: 0;
}
.home-ic80 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 24px;
  position: relative;
  height: 24px;
  background-image: url(./public/image4@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.home-previous-page-button17 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  max-width: 56px;
}
.hb-variant-running2 {
  flex: 1;
  position: relative;
  font-weight: 600;
}
.settings-svgrepo-com-110 {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.hb-variant-running-title-bar3 {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 768px;
}
.hb-variant-running-title-bar2 {
  align-self: stretch;
  background-color: var(--color-black);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-sm) var(--padding-mini);
  text-align: center;
  font-size: var(--font-size-base);
}
.hvdc-voltage-checking-1-icon {
  width: 322px;
  position: relative;
  height: 180px;
  object-fit: cover;
}
.hb-variant-running-div3 {
  width: 100%;
  height: 180px;
  align-items: center;
  padding: 0 0 var(--padding-12xs);
  box-sizing: border-box;
  gap: var(--gap-71xl);
  max-width: 350px;
}
.hb-variant-running-div2,
.hb-variant-running-div3,
.hb-variant-running-for-hvdc-vo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.hb-variant-running-div2 {
  align-self: stretch;
  background-color: var(--color-white);
  height: 727px;
  overflow: hidden;
  flex-shrink: 0;
  align-items: center;
  padding: var(--padding-26xl) var(--padding-mini) var(--padding-61xl);
  box-sizing: border-box;
}
.hb-variant-running-for-hvdc-vo {
  width: 100%;
  position: relative;
  align-items: flex-start;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-white);
  font-family: var(--font-work-sans);
}
