.wifi-svgrepo-com-1-18 {
  width: 20px;
  position: relative;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.map-ic-icon8 {
  width: 19px;
  position: relative;
  height: 19px;
  object-fit: cover;
}
.wifi-map-pin-ic8 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 41px;
}
.battery-ic-146,
.div141 {
  position: relative;
}
.battery-ic-146 {
  width: 30px;
  height: 16px;
  object-fit: cover;
}
.battery-percentage-ic8 {
  justify-content: flex-end;
  gap: var(--gap-8xs);
}
.battery-bar46,
.battery-percentage-ic8,
.battery-status-bar46 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.battery-status-bar46 {
  flex: 1;
  justify-content: space-between;
  max-width: 768px;
}
.battery-bar46 {
  align-self: stretch;
  background-color: var(--color-black);
  overflow: hidden;
  justify-content: center;
  padding: var(--padding-11xs) var(--padding-mini);
}
.line46 {
  background-color: var(--color-white);
  height: 0.5px;
  overflow: hidden;
  flex-shrink: 0;
}
.home-ic44,
.left-arrow-previous-page-ic42 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 24px;
  position: relative;
  height: 24px;
  background-image: url(./public/image4@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.left-arrow-previous-page-ic42 {
  background-image: url(./public/image5@2x.png);
}
.home-previous-page-button2 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  max-width: 56px;
}
.hb-variant-patient {
  flex: 1;
  position: relative;
  font-weight: 600;
}
.settings-svgrepo-com-11 {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.hb-variant-patient-info-title1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 768px;
}
.hb-variant-patient-info-title {
  align-self: stretch;
  background-color: var(--color-black);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-sm) var(--padding-mini);
  text-align: center;
  font-size: var(--font-size-base);
}
.yes-radio {
  cursor: pointer;
  margin: 0;
  width: 16px;
  position: relative;
  border-radius: 50%;
  border: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  height: 16px;
}
.infant-radio-yes-no,
.infant-radio1 {
  flex-direction: row;
  align-items: center;
}
.infant-radio-yes-no {
  display: flex;
  justify-content: flex-start;
  gap: var(--gap-41xl);
}
.infant-radio1 {
  border-radius: var(--br-9xs);
  background-color: var(--color-gainsboro-200);
  height: 41px;
  overflow: hidden;
  flex-shrink: 0;
  padding: var(--padding-11xs) var(--padding-mini) var(--padding-11xs)
    var(--padding-5xs);
  box-sizing: border-box;
}
.infant-radio,
.infant-radio1,
.patient-first-name-input-field {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.infant-radio {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-5xs);
}
.patient-first-name-input-field {
  border: 0;
  outline: 0;
  font-family: var(--font-work-sans);
  font-size: var(--font-size-smi);
  background-color: var(--color-gainsboro-200);
  border-radius: var(--br-9xs);
  height: 41px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-11xs) var(--padding-mini) var(--padding-11xs)
    var(--padding-5xs);
  box-sizing: border-box;
  color: var(--color-gray-600);
}
.age-input-field:focus,
.patient-first-name-input-field:focus {
  border: 2px solid var(--color-orange);
  box-sizing: border-box;
  background-color: #fff;
}
.age-input-field,
.patient-first-name {
  display: flex;
  justify-content: flex-start;
}
.patient-first-name {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-4xs);
}
.age-input-field {
  border: 0;
  outline: 0;
  font-family: var(--font-work-sans);
  font-size: var(--font-size-smi);
  background-color: var(--color-gainsboro-200);
  flex: 1;
  border-radius: var(--br-9xs);
  height: 41px;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-11xs) var(--padding-mini) var(--padding-11xs)
    var(--padding-5xs);
  box-sizing: border-box;
  color: var(--color-gray-600);
}
.years {
  flex: 1;
  position: relative;
}
.age3,
.male {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.age3 {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-4xs);
}
.male {
  justify-content: center;
  gap: var(--gap-3xs);
}
.gender-radio1,
.patient-info-form {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.gender-radio1 {
  flex: 1;
  flex-direction: row;
  gap: var(--gap-11xl);
}
.patient-info-form {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-3xl);
}
.next11 {
  position: relative;
  font-size: var(--font-size-sm);
  font-weight: 500;
  font-family: var(--font-work-sans);
  color: var(--color-black);
  text-align: left;
}
.next-button30 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base) var(--padding-47xl);
  background-color: var(--color-navajowhite);
  border-radius: var(--br-9xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.patient-info {
  width: 100%;
  align-items: center;
  padding: 0 0 var(--padding-12xs);
  box-sizing: border-box;
  gap: var(--gap-71xl);
  max-width: 350px;
}
.body-screen45,
.hb-variant-patient-info,
.patient-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.body-screen45 {
  align-self: stretch;
  background-color: var(--color-white);
  height: 727px;
  overflow: hidden;
  flex-shrink: 0;
  align-items: center;
  padding: var(--padding-11xl) var(--padding-mini) var(--padding-61xl);
  box-sizing: border-box;
  font-size: var(--font-size-sm);
  color: var(--color-black);
}
.hb-variant-patient-info {
  width: 100%;
  position: relative;
  align-items: flex-start;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-white);
  font-family: var(--font-work-sans);
}
