@keyframes fade-in {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.battery-ic-1124,
.div390 {
  position: relative;
}
.battery-ic-1124 {
  width: 30px;
  height: 16px;
  object-fit: cover;
}
.battery-bar124,
.battery-status-bar124 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.battery-status-bar124 {
  flex: 1;
  justify-content: flex-end;
  gap: var(--gap-8xs);
  max-width: 768px;
}
.battery-bar124 {
  align-self: stretch;
  background-color: var(--color-black);
  overflow: hidden;
  justify-content: center;
  padding: var(--padding-11xs) var(--padding-mini);
  z-index: 0;
  font-size: var(--font-size-xs);
}
.line124 {
  background-color: var(--color-white);
  height: 0.5px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.home-ic122,
.left-arrow-previous-page-ic104 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 24px;
  position: relative;
  height: 24px;
  background-image: url(./public/image4@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.left-arrow-previous-page-ic104 {
  background-image: url(./public/image5@2x.png);
}
.home-ic-parent84 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
  max-width: 56px;
}
.review-patient8 {
  flex: 1;
  position: relative;
  font-weight: 600;
}
.settings-svgrepo-com-1-icon103 {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.home-title-bar205 {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-21xl) 0 0;
  box-sizing: border-box;
  max-width: 768px;
}
.home-title-bar204 {
  align-self: stretch;
  background-color: var(--color-black);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-sm) var(--padding-mini);
  z-index: 2;
  text-align: center;
}
.select-patient-type4 {
  align-self: stretch;
  position: relative;
}
.u01-child54 {
  width: 16px;
  position: relative;
  border-radius: 50%;
  border: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  height: 16px;
}
.hb-variant9 {
  flex: 1;
  position: relative;
}
.u01-wrapper13,
.u0159 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.u0159 {
  flex-direction: row;
  gap: var(--gap-2xs);
}
.u01-wrapper13 {
  flex-direction: column;
}
.u01-child55 {
  width: 16px;
  position: relative;
  border-radius: 50%;
  border: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  height: 16px;
  cursor: pointer;
}
.frame-parent141,
.select-patient-type-to-review-parent1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent141 {
  overflow: hidden;
  gap: var(--gap-xl);
}
.select-patient-type-to-review-parent1 {
  gap: var(--gap-10xl);
}
.done49 {
  position: relative;
  font-size: var(--font-size-sm);
  font-weight: 500;
  font-family: var(--font-work-sans);
  color: var(--color-black);
  text-align: left;
}
.next-button71 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base) var(--padding-47xl);
  background-color: var(--color-navajowhite);
  border-radius: var(--br-9xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.user-credential-input-fields37 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0 var(--padding-12xs);
  box-sizing: border-box;
  gap: var(--gap-161xl);
  max-width: 316px;
}
.div391 {
  width: 414px;
  position: relative;
  font-size: var(--font-size-xs);
  text-align: center;
  display: inline-block;
}
.body-screen113 {
  align-self: stretch;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-61xl) var(--padding-mini);
  gap: var(--gap-41xl);
  z-index: 3;
  font-size: var(--font-size-sm);
  color: var(--color-black);
}
.review-patient-loading-file-po-child {
  width: 100%;
  position: absolute;
  margin: 0 !important;
  height: 100.08%;
  top: 0;
  right: 0;
  bottom: -0.08%;
  left: 0;
  background-color: var(--color-gray-800);
  backdrop-filter: blur(15px);
  z-index: 4;
}
.frame-child122 {
  align-self: stretch;
  position: relative;
  border-top: 1.5px dashed var(--color-white);
  box-sizing: border-box;
  height: 1.5px;
}
.please-wait8 {
  position: relative;
  font-weight: 500;
}
.frame-child123,
.frame-child125 {
  height: 2px;
  width: 2px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-white);
  opacity: 0;
}
.frame-child123.animate,
.frame-child125.animate {
  animation: 1s ease 0s infinite normal forwards fade-in;
}
.ellipse-parent7 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-12xs);
}
.please-wait-parent6 {
  flex-direction: row;
  gap: var(--gap-10xs);
}
.frame-wrapper85,
.loading-file-group,
.please-wait-parent6 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-wrapper85 {
  flex-direction: row;
  font-size: var(--font-size-sm);
}
.loading-file-group {
  position: absolute;
  top: calc(50% - 42px);
  left: calc(50% - 141px);
  width: 281px;
  height: 73px;
  flex-direction: column;
  gap: var(--gap-mid);
}
.loading-file-please-wait-do-no9 {
  width: 320px;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 138.25px);
  left: calc(50% - 160px);
  border-radius: var(--br-xs);
  background-color: var(--color-orange);
  height: 246px;
  overflow: hidden;
  flex-shrink: 0;
  max-width: 90%;
  max-height: 90%;
  z-index: 5;
  text-align: center;
}
.review-patient-loading-file-po {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-work-sans);
}
@media screen and (max-width: 960px) {
  .frame-child123,
  .frame-child125 {
    opacity: 0;
  }
  .frame-child123.animate {
    animation: 1s ease 0s infinite normal forwards fade-in;
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .frame-child125.animate {
    animation: 1s ease 0s 1 normal forwards fade-in;
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
@media screen and (max-width: 420px) {
  .frame-child123,
  .frame-child125 {
    opacity: 0;
  }
  .frame-child123.animate,
  .frame-child125.animate {
    animation: 1s ease 0s infinite normal forwards fade-in;
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
