@keyframes fade-in {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.wifi-svgrepo-com-1-1 {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.map-ic-icon {
  position: relative;
  width: 19px;
  height: 19px;
  object-fit: cover;
}
.wifi-map-pin-ic {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 41px;
}
.battery-ic-1,
.div {
  position: relative;
}
.battery-ic-1 {
  width: 30px;
  height: 16px;
  object-fit: cover;
}
.battery-percentage-ic {
  justify-content: flex-end;
  gap: var(--gap-8xs);
}
.battery-bar,
.battery-percentage-ic,
.battery-status-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.battery-status-bar {
  flex: 1;
  justify-content: space-between;
  max-width: 768px;
}
.battery-bar {
  align-self: stretch;
  background-color: var(--color-black);
  overflow: hidden;
  justify-content: center;
  padding: var(--padding-11xs) var(--padding-mini);
  text-align: left;
}
.line {
  background-color: var(--color-white);
  height: 0.5px;
  overflow: hidden;
  flex-shrink: 0;
}
.home-ic,
.left-arrow-previous-page-ic {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 24px;
  height: 24px;
  background-image: url(./public/image4@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.left-arrow-previous-page-ic {
  background-image: url(./public/image5@2x.png);
}
.home-previous-page-button {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  max-width: 56px;
}
.review-patient {
  flex: 1;
  position: relative;
  font-weight: 600;
}
.settings-svgrepo-com-1-icon {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.review-patient-title-bar1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 768px;
}
.review-patient-title-bar {
  align-self: stretch;
  background-color: var(--color-black);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-sm) var(--padding-mini);
  font-size: var(--font-size-xl);
}
.select-patient-type {
  align-self: stretch;
  position: relative;
  font-weight: 600;
}
.hb-variant-radio1 {
  cursor: pointer;
  margin: 0;
  height: 24px;
  width: 24px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-100);
  box-sizing: border-box;
}
.hb-variant-radio {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-sm);
}
.covid-19-radio1 {
  cursor: pointer;
  margin: 0;
  position: relative;
  border-radius: 50%;
  border: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  width: 24px;
  height: 24px;
}
.test-selection-radio {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 36px;
  text-align: left;
  font-size: var(--font-size-3xl);
}
.next {
  position: relative;
  font-weight: 500;
}
.next-button {
  border-radius: var(--br-9xs);
  background-color: var(--color-navajowhite);
  width: 169px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base) var(--padding-47xl);
  box-sizing: border-box;
  font-size: var(--font-size-sm);
}
.next-button:hover {
  cursor: pointer;
}
.body-screen,
.select-patient-type-review {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.body-screen {
  align-self: stretch;
  background-color: var(--color-white);
  height: 727px;
  overflow: hidden;
  flex-shrink: 0;
  align-items: center;
  padding: var(--padding-26xl) var(--padding-mini) var(--padding-61xl);
  box-sizing: border-box;
  gap: 77px;
  font-size: var(--font-size-lg);
  color: var(--color-black);
}
.select-patient-type-review {
  position: relative;
  width: 100%;
  align-items: flex-start;
  text-align: center;
  font-size: var(--font-size-xs);
  color: var(--color-white);
  font-family: var(--font-work-sans);
}
.frame-child61,
.loading-file {
  position: relative;
}
.frame-child61 {
  width: 329.5px;
  border-top: 1.5px dashed var(--color-white);
  box-sizing: border-box;
  height: 1.5px;
}
.please-wait {
  position: relative;
  font-weight: 500;
}
.frame-child62,
.frame-child64 {
  height: 2px;
  width: 2px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-white);
  opacity: 0;
}
.frame-child62.animate,
.frame-child64.animate {
  animation: 1s ease 0s infinite normal forwards fade-in;
}
.ellipse-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-12xs);
}
.please-wait-parent {
  flex-direction: row;
  gap: var(--gap-10xs);
}
.frame-wrapper37,
.loading-file-parent,
.please-wait-parent {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-wrapper37 {
  flex-direction: row;
  font-size: var(--font-size-sm);
}
.loading-file-parent {
  position: absolute;
  top: 107px;
  left: 14px;
  flex-direction: column;
  gap: var(--gap-mid);
}
.loading-file-please-wait-popup {
  width: 356px;
  position: relative;
  border-radius: var(--br-xs);
  background-color: var(--color-orange);
  height: 286px;
  overflow: hidden;
  max-width: 90%;
  max-height: 90%;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-work-sans);
}
@media screen and (max-width: 960px) {
  .frame-child62,
  .frame-child64 {
    opacity: 0;
  }
  .frame-child62.animate {
    animation: 1s ease 0s infinite normal forwards fade-in;
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .frame-child64.animate {
    animation: 1s ease 0s 1 normal forwards fade-in;
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
@media screen and (max-width: 420px) {
  .frame-child62,
  .frame-child64 {
    opacity: 0;
  }
  .frame-child62.animate,
  .frame-child64.animate {
    animation: 1s ease 0s infinite normal forwards fade-in;
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
