.battery-ic-135,
.div102 {
  position: relative;
}
.battery-ic-135 {
  width: 30px;
  height: 16px;
  object-fit: cover;
}
.battery-bar35,
.battery-status-bar35 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.battery-status-bar35 {
  flex: 1;
  justify-content: flex-end;
  gap: var(--gap-8xs);
  max-width: 768px;
}
.battery-bar35 {
  align-self: stretch;
  background-color: var(--color-black);
  overflow: hidden;
  justify-content: center;
  padding: var(--padding-11xs) var(--padding-mini);
  z-index: 0;
}
.line35 {
  background-color: var(--color-white);
  height: 0.5px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.home-ic35,
.left-arrow-previous-page-ic35 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 24px;
  position: relative;
  height: 24px;
  background-image: url(./public/image4@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.left-arrow-previous-page-ic35 {
  background-image: url(./public/image5@2x.png);
}
.home-ic-parent30 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
  max-width: 56px;
}
.delete-test-data5 {
  flex: 1;
  position: relative;
  font-weight: 600;
}
.settings-svgrepo-com-1-icon35 {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.home-title-bar67 {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
  max-width: 768px;
}
.home-title-bar66 {
  align-self: stretch;
  background-color: var(--color-black);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-sm) var(--padding-mini);
  z-index: 2;
  text-align: center;
  font-size: var(--font-size-base);
}
.admin-01-ns-delete11 {
  width: 16px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-orange);
  height: 16px;
  cursor: pointer;
}
.admin-01-ns-delete-wrapper3,
.admin-01-ns-delete10 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.admin-01-ns-delete10 {
  flex-direction: row;
  gap: var(--gap-2xs);
  cursor: pointer;
}
.admin-01-ns-delete-wrapper3 {
  flex-direction: column;
}
.covid-19-test-data-ns7 {
  width: 16px;
  position: relative;
  border-radius: 50%;
  border: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  height: 16px;
  cursor: pointer;
}
.covid-19-test-data4 {
  flex: 1;
  position: relative;
}
.covid-19-test-data-ns6,
.frame-parent93,
.select-test-data-to-delete-parent2 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.covid-19-test-data-ns6 {
  flex-direction: row;
  gap: var(--gap-2xs);
}
.frame-parent93,
.select-test-data-to-delete-parent2 {
  flex-direction: column;
}
.frame-parent93 {
  overflow: hidden;
  gap: var(--gap-xl);
}
.select-test-data-to-delete-parent2 {
  gap: var(--gap-10xl);
}
.next9 {
  position: relative;
  font-size: var(--font-size-sm);
  font-weight: 500;
  font-family: var(--font-work-sans);
  color: var(--color-black);
  text-align: left;
}
.next-button24 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base) var(--padding-47xl);
  background-color: var(--color-navajowhite);
  border-radius: var(--br-9xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.user-credential-input-fields15 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0 var(--padding-12xs);
  box-sizing: border-box;
  gap: var(--gap-41xl);
  max-width: 316px;
}
.div103 {
  width: 414px;
  position: relative;
  font-size: var(--font-size-xs);
  text-align: center;
  display: inline-block;
}
.body-screen34 {
  align-self: stretch;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-11xl) var(--padding-mini) var(--padding-61xl);
  gap: var(--gap-11xl);
  z-index: 3;
  font-size: var(--font-size-sm);
  color: var(--color-black);
}
.test-data-deleted-popup-child {
  width: 1440px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  left: 0;
  background-color: var(--color-gray-800);
  backdrop-filter: blur(15px);
  height: 471px;
  z-index: 4;
}
.no-covid-19-test-data-popup-child1,
.test-data-deleted {
  align-self: stretch;
  position: relative;
}
.no-covid-19-test-data-popup-child1 {
  border-top: 1.5px dashed var(--color-white);
  box-sizing: border-box;
  height: 1.5px;
}
.press-continue-container {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.frame-wrapper32 {
  align-self: stretch;
  flex-direction: row;
}
.frame-wrapper31,
.frame-wrapper32,
.no-covid-19-test-data-popup-inner2 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-wrapper31 {
  flex: 1;
  flex-direction: column;
}
.no-covid-19-test-data-popup-inner2 {
  align-self: stretch;
  flex-direction: row;
  font-size: var(--font-size-sm);
}
.no-covid-19-test-data-popup6 {
  position: absolute;
  top: calc(50% - 42px);
  left: calc(50% - 141px);
  width: 281px;
  height: 73px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-mid);
}
.no-covid-19-test-data-popup5 {
  width: 320px;
  position: relative;
  border-radius: var(--br-xs);
  background-color: var(--color-orange);
  height: 274px;
  overflow: hidden;
  flex-shrink: 0;
  max-width: 90%;
  max-height: 90%;
}
.next-button-container,
.next-button25 {
  width: 133px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.next-button25 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base) var(--padding-11xl);
  background-color: var(--color-navajowhite);
  border-radius: var(--br-9xs);
  overflow: hidden;
  flex-shrink: 0;
  align-items: center;
  box-sizing: border-box;
}
.next-button-container {
  align-items: flex-start;
}
.test-data-deleted-popup,
.test-data-deleted-popup1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.test-data-deleted-popup1 {
  margin: 0 !important;
  position: absolute;
  top: calc(50% - 153.25px);
  left: calc(50% - 160px);
  align-items: center;
  gap: var(--gap-11xl);
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  z-index: 5;
  text-align: center;
  font-size: var(--font-size-xl);
}
.test-data-deleted-popup {
  width: 100%;
  position: relative;
  align-items: flex-start;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-white);
  font-family: var(--font-work-sans);
}
.delete-all-hb,
.no-covid-19-test-data-popup-item {
  align-self: stretch;
  position: relative;
}
.no-covid-19-test-data-popup-item {
  border-top: 1.5px dashed var(--color-white);
  box-sizing: border-box;
  height: 1.5px;
}
.this-action-cannot {
  flex: 1;
  position: relative;
  font-weight: 600;
}
.this-action-cannot-be-undone-wrapper {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.frame-wrapper30 {
  align-self: stretch;
  flex-direction: row;
}
.frame-wrapper29,
.frame-wrapper30,
.no-covid-19-test-data-popup-inner1 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-wrapper29 {
  flex: 1;
  flex-direction: column;
}
.no-covid-19-test-data-popup-inner1 {
  align-self: stretch;
  flex-direction: row;
  font-size: var(--font-size-sm);
}
.no-covid-19-test-data-popup4 {
  position: absolute;
  top: calc(50% - 42px);
  left: calc(50% - 141px);
  width: 281px;
  height: 73px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-mid);
}
.no-covid-19-test-data-popup3 {
  width: 320px;
  position: relative;
  border-radius: var(--br-xs);
  background-color: var(--color-orange);
  height: 274px;
  overflow: hidden;
  flex-shrink: 0;
  max-width: 90%;
  max-height: 90%;
}
.no {
  position: relative;
  font-size: var(--font-size-sm);
  font-weight: 500;
  font-family: var(--font-work-sans);
  color: var(--color-black);
  text-align: left;
}
.next-button-group,
.yes-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.yes-button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base) var(--padding-11xl);
  background-color: var(--color-navajowhite);
  flex: 1;
  border-radius: var(--br-9xs);
  overflow: hidden;
  align-items: center;
}
.next-button-group {
  align-self: stretch;
  align-items: flex-start;
  gap: var(--gap-101xl);
}
.delete-all-hb-variant-test-dat {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-11xl);
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-work-sans);
}
