.battery-ic-172,
.div202 {
  position: relative;
}
.battery-ic-172 {
  width: 30px;
  height: 16px;
  object-fit: cover;
}
.battery-bar72,
.battery-status-bar72 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.battery-status-bar72 {
  flex: 1;
  justify-content: flex-end;
  gap: var(--gap-8xs);
  max-width: 768px;
}
.battery-bar72 {
  align-self: stretch;
  background-color: var(--color-black);
  overflow: hidden;
  justify-content: center;
  padding: var(--padding-11xs) var(--padding-mini);
}
.line72 {
  background-color: var(--color-white);
  height: 0.5px;
  overflow: hidden;
  flex-shrink: 0;
}
.home-ic70,
.left-arrow-previous-page-ic67 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 24px;
  position: relative;
  height: 24px;
  background-image: url(./public/image4@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.left-arrow-previous-page-ic67 {
  background-image: url(./public/image5@2x.png);
}
.home-ic-parent47 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
  max-width: 56px;
}
.update-user3 {
  flex: 1;
  position: relative;
  font-weight: 600;
}
.settings-svgrepo-com-1-icon56 {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.home-title-bar111 {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-21xl) 0 0;
  box-sizing: border-box;
  max-width: 768px;
}
.home-title-bar110 {
  align-self: stretch;
  background-color: var(--color-black);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-sm) var(--padding-mini);
  text-align: center;
  font-size: var(--font-size-base);
}
.u01-child17 {
  width: 16px;
  position: relative;
  border-radius: 50%;
  border: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  height: 16px;
}
.u01-wrapper4,
.u0119 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.u0119 {
  width: 76px;
  flex-direction: row;
  gap: var(--gap-2xs);
  cursor: pointer;
}
.u01-wrapper4 {
  align-self: stretch;
  flex-direction: column;
}
.u01-child18 {
  width: 16px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-orange);
  height: 16px;
}
.user-26 {
  flex: 1;
  position: relative;
}
.frame-parent105,
.select-user-to-update-container,
.u0120 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.u0120 {
  flex-direction: row;
  gap: var(--gap-2xs);
}
.frame-parent105,
.select-user-to-update-container {
  flex-direction: column;
}
.frame-parent105 {
  overflow: hidden;
  gap: var(--gap-xl);
}
.select-user-to-update-container {
  gap: var(--gap-10xl);
}
.done27 {
  position: relative;
  font-size: var(--font-size-sm);
  font-weight: 500;
  font-family: var(--font-work-sans);
  color: var(--color-black);
  text-align: left;
}
.next-button42 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base) var(--padding-47xl);
  background-color: var(--color-navajowhite);
  border-radius: var(--br-9xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.user-credential-input-fields28 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0 var(--padding-12xs);
  box-sizing: border-box;
  gap: var(--gap-161xl);
  max-width: 316px;
}
.div203 {
  width: 414px;
  position: relative;
  font-size: var(--font-size-xs);
  text-align: center;
  display: inline-block;
}
.body-screen66,
.update-user21 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.body-screen66 {
  align-self: stretch;
  background-color: var(--color-white);
  overflow: hidden;
  align-items: center;
  padding: var(--padding-61xl) var(--padding-mini);
  gap: var(--gap-41xl);
  font-size: var(--font-size-sm);
  color: var(--color-black);
}
.update-user21 {
  width: 100%;
  position: relative;
  align-items: flex-start;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-white);
  font-family: var(--font-work-sans);
}
