.wifi-svgrepo-com-1-113 {
  width: 20px;
  position: relative;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.map-ic-icon13 {
  width: 19px;
  position: relative;
  height: 19px;
  object-fit: cover;
}
.wifi-map-pin-ic13 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 41px;
}
.battery-ic-151,
.div156 {
  position: relative;
}
.battery-ic-151 {
  width: 30px;
  height: 16px;
  object-fit: cover;
}
.battery-percentage-ic13 {
  justify-content: flex-end;
  gap: var(--gap-8xs);
}
.battery-bar51,
.battery-percentage-ic13,
.battery-status-bar51 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.battery-status-bar51 {
  flex: 1;
  justify-content: space-between;
  max-width: 768px;
}
.battery-bar51 {
  align-self: stretch;
  background-color: var(--color-black);
  overflow: hidden;
  justify-content: center;
  padding: var(--padding-11xs) var(--padding-mini);
}
.line51 {
  background-color: var(--color-white);
  height: 0.5px;
  overflow: hidden;
  flex-shrink: 0;
}
.home-ic49,
.left-arrow-previous-page-ic47 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 24px;
  position: relative;
  height: 24px;
  background-image: url(./public/image4@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.left-arrow-previous-page-ic47 {
  background-image: url(./public/image5@2x.png);
}
.home-previous-page-button7 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  max-width: 56px;
}
.wet-paper1 {
  flex: 1;
  position: relative;
  font-weight: 600;
}
.settings-svgrepo-com-16 {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.wet-paper-title-bar2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 768px;
}
.wet-paper-status-bar {
  align-self: stretch;
  background-color: var(--color-black);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-sm) var(--padding-mini);
  text-align: center;
  font-size: var(--font-size-xl);
}
.wet-paper-b-video-gif {
  width: 347px;
  position: relative;
  height: 195.2px;
  object-fit: cover;
}
.start-timer3 {
  position: relative;
  font-size: var(--font-size-sm);
  font-weight: 500;
  font-family: var(--font-work-sans);
  color: var(--color-gray-400);
  text-align: left;
}
.start-timer-button6,
.start-timer-button7 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.start-timer-button7 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base) var(--padding-3xs);
  background-color: var(--color-navajowhite);
  width: 169px;
  border-radius: var(--br-9xs);
  overflow: hidden;
  flex-shrink: 0;
  align-items: center;
  box-sizing: border-box;
}
.start-timer-button6 {
  align-items: flex-start;
}
.wet-paper-b-div {
  width: 100%;
  align-items: center;
  padding: 0 0 var(--padding-12xs);
  box-sizing: border-box;
  gap: var(--gap-71xl);
  max-width: 350px;
}
.body-screen50,
.wet-paper-b,
.wet-paper-b-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.body-screen50 {
  align-self: stretch;
  background-color: var(--color-white);
  height: 727px;
  overflow: hidden;
  flex-shrink: 0;
  align-items: center;
  padding: var(--padding-26xl) var(--padding-mini) var(--padding-61xl);
  box-sizing: border-box;
}
.wet-paper-b {
  width: 100%;
  position: relative;
  align-items: flex-start;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-white);
  font-family: var(--font-work-sans);
}
